.facebook-color {
  color: #3b5998;
}
.twitter-color {
  color: #00acee;
}
.google-color {
  color: #db4a39;
}
.rss-color {
  color: #ee802f;
}
hr.white {
  border: 1px solid white !important;
}
.middle-nav {
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
}
.tiny-font {
  font-size: 0.8rem !important;
}
.gray {
  color: gray !important;
}
.f-black {
  color: black !important;
}
.border-black {
  border-color: black;
}
.mt-6 {
  margin-top: 4rem !important;
}
.h-auto {
  height: auto;
}
.h-100 {
  height: 100% !important;
}
.min-h-75 {
  min-height: 75px;
}
.centered-childs {
  display: flex;
  align-items: center;
  justify-content: center;
}
.font-sm {
  font-size: 1rem;
}
.nav-logo {
  width: 105px;
  height: auto;
}
.nav-sm-logo {
  width: 46px;
  height: auto;
}
.ml-20per {
  margin-left: 20%;
}
.bg-strong-danger {
  background-color: #c10606;
}
.btn-burger {
  width: 57px;
  height: 40px;
}
@media (max-width: 768px) {
  .hide-on-sm {
    display: none;
  }
}

/*From Marca.com*/
.team-img {
  width: 40px;
  height: 40px;
  background-image: url(../images/marca/teams-mx.png);
  background-repeat: no-repeat;
}
img[src=""] { content:url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="); }
.teams-america {
  background-position: 0 0;
}
.teams-atlas {
  background-position: 0 -39px;
}
.teams-atletico-san-luis {
  background-position: 0 -79px;
}
.teams-cruz-azul {
  background-position: 0 -159px;
}
.teams-guadalajara-mx {
  background-position: 0 -199px;
}
.teams-juarez {
  background-position: 0 -239px;
}
.teams-leon {
  background-position: 0 -278px;
}
.teams-monarcas {
  background-position: 0 -358px;
}
.teams-monterrey {
  background-position: 0 -398px;
}
.teams-necaxa {
  background-position: 0 -438px;
}
.teams-pachuca {
  background-position: 0 -478px;
}
.teams-puebla {
  background-position: 0 -518px;
}
.teams-pumas {
  background-position: 0 -558px;
}
.teams-queretaro {
  background-position: 0 -598px;
}
.teams-santos {
  background-position: 0 -638px;
}
.teams-tigres {
  background-position: 0 -678px;
}
.teams-tijuana {
  background-position: 0 -718px;
}
.teams-toluca {
  background-position: 0 -758px;
}
.teams-veracruz {
  background-position: 0 -798px;
}